.technologies {
    position: relative;
    height: 200vh;
    width: 100vw;

    align-items: flex-start;
}

.technologies .technologies__content {
    position: sticky;
    top: 2.5vh;
    left: 0;
    height: 95vh;
    width: 95vw;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
}



.technologies__container {
    position: relative;
    height: 50%;
    width: 50%;
    
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);


    gap: 2rem;

    transform-style: preserve-3d;
    perspective: 100px;
}

.technologies__container img {
    height: 90%;
    width: 90%;
    padding: 5%;
    background-color: transparent;
    transition: transform 300ms ease-in-out;
    transform: translateZ(-20px);
}

.technologies__container img:nth-child(1):hover, .technologies__container img:nth-child(3):hover {
    transform: translateZ(-10px) rotate( 10deg);
}

.technologies__container img:nth-child(2):hover, .technologies__container img:nth-child(4):hover {
    transform: translateZ(-10px) rotate(-10deg);
}

.technologies__background {
    height: 50%;
    width: 100%;
    background-color: var(--color-2);
}

.technologies__background:nth-child(1) {
    position: absolute;
    z-index: -1;
    
    top: 0;
    left: 0;

    border-radius: 10px;
    
    animation: technologies-enhance-technologies-background-1 linear both;
    animation-timeline: view();
    animation-range: 25vh 75vh;
}
.technologies__background:nth-child(2)
{
    position: absolute;
    z-index: -1;

    top: 50%;
    left: 0;
    
    border-radius: 10px;

    animation: technologies-enhance-technologies-background-2 linear both;
    animation-timeline: view();
    animation-range: 25vh 75vh;
}




@keyframes technologies-enhance-technologies-container {
    from {
        height: 25%;
        width: 25%;
        /* transform: rotate(0); */
    }
    to {
        height: 50%;
        width: 50%;
        /* transform: rotate(180deg); */
    }
}

@keyframes technologies-enhance-technologies-img {
    from {
        transform: rotate(0);
    }
    to {

        transform: rotate(360deg);
    }
}

@keyframes technologies-enhance-technologies-text {
    from {
        opacity: 0;
        transform: translateY(-500px) scaleY(0.8);
    }
    to {
        opacity: 1;
        transform: translateY(0) scaleY(1);
    }
}

@keyframes technologies-enhance-technologies-background-1 {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
} 
@keyframes technologies-enhance-technologies-background-2 {
    from {
        transform: scaleX(1);
    }
    to {
        transform: scaleX(0);
    }
} 