.projects {
    position: relative;
    margin-top: 30vh;
    height: 220vh;
    width: 200vw;
    align-items: flex-start;
    
    animation: projects-move-right linear both;
    animation-timeline: view();
    animation-range: 110vh 210vh;
}

.projects__content {
    position: sticky;
    top: 5vh;

    height: 90vh;
    width: 100%;
    margin: 1vh 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects__content > * {
    flex: 1;
    width: 90%;
    height: 90%;
}


@keyframes projects-move-right {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

@keyframes proyects-appear-from-right {
    from {
        transform: translateX(50%);
        /* filter: blur(20PX); */
    }

    to {
        transform: none;
        /* filter: none; */
    }
}

@keyframes proyects-appear-from-left {
    from {
        transform: translateX(-50%);
        /* filter: blur(20PX); */
    }
    to {
        transform: none;
        /* filter: none; */
    }
}
